{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container card">
        <div class="pfp">
            <img src="{{ profile_path }}"/>
            <h3>&nbsp;{{ username }}</h3>
        </div>
    </div>
    <a href="{% url 'createEvent' %}" class="btn btn-primary btn-md">Create an event</a>
    <div class="container card">
        <h3>Your Events:</h3>
        <table class="table table-hover">
          <tbody>
            {% for event in events %}
                <tr>
                    <td><img height=100 width=100 class="img-thumbnail rounded-circle" src="{{ event.img.url }}"/></td>
                    <td><a href="{% url 'creatorDashboardEvent' event.id %}" class="btn btn-primary">{{ event.name }}</a></td>
                    <td><a href="{% url 'qr' event.id %}" class="btn btn-primary">Get QR Code</a></td>
                    <td>{{ event.status }}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    <div class="container card">
        <h3>Past Events:</h3>
        <table class="table table-hover">
          <tbody>
            {% for event in finished_events %}
                <tr>
                    <td><img height=100 width=100 class="img-thumbnail rounded-circle" src="{{ event.img.url }}"/></td>
                    <td><a class="btn btn-primary" href="{% url 'creatorDashboardEvent' event.id %}">{{ event.name }}</a></td>
                    <td><a href="{% url 'qr' event.id %}" class="btn btn-primary" style="display: none;">Get QR Code</a></td>
                    <td>{{ event.status }}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

    <style>
        td {
            width: 3%;
        }

        .btn {
            width: 100%;
        }

    </style>

{% endblock content %}
