{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container card">
        <div>
            <img height=100 width=100 class="img-thumbnail rounded-circle" src="{{ event.creator.img.url }}"/>
            <img height=100 width=100 class="img-thumbnail rounded-circle" src="{{ event.img.url }}"/>
            <h3>{{ request.user.username }}, {{ event.name }} is {{ event.status }}</h3>
        </div>
    </div>

    {%  if event_over %}
        <div class="container card">
            {% if event_over %}
                    <h3>The winners of {{ event.name }}:</h3>
            {% endif %}
            <table class="table">
                <thead>
                    <th scope="col">Winner</th>
                    <th scope="col">Prize</th>
                    <th scope="col">Contact</th>
                </thead>
                <tbody>
                    {% for entry in winning_entries %}
                    <tr>
                        <td><img height=100 width=100 class="img-thumbnail rounded-circle" src="{{ entry.fan.img.url }}"/> {{ entry.fan.user.username }}</td>
                        <td><img height=100 width=100 class="img-thumbnail rounded-circle" src="{{ entry.prize.img.url }}"/>{{ entry.prize.name }}</td>
                        <td>{{ entry.fan.user.email }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {%  endif %}

        <div class="container card">
            <h3>Everyone who has entered {{ event.name }}:</h3>

            <table class="table">
                <thead>
                    <th scope="col">Fan</th>
                    <th scope="col">Contact</th>
                </thead>
                <tbody>
                    {% for entry in entries %}
                    <tr>
                        <td><img height=100 width=100 class="img-thumbnail rounded-circle" src="{{ entry.fan.img.url }}"/> {{ entry.fan.user.username }}</td>
                        <td>{{ entry.fan.user.email }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock content %}
