{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container card">
        <div>
            <img height=100 width=100 class="img-thumbnail rounded-circle" src="{{ profile_path }}"/>
            <h3>{{ username }}, welcome to your creator dashboard!</h3>
        </div>
    </div>
    <a href="{% url 'createEvent' %}" class="btn btn-primary btn-md">Create an event</a>
    <div class="container card">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Your Events</th>
            </tr>
          </thead>
          <tbody>
            {% for event in events %}
                <tr>
                    <td><a href="{% url 'creatorDashboardEvent' event.id %}">{{ event.name }}</a></td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

{% endblock content %}
