{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h3>{{ request.user.username }}, here are the winners of your event:</h3>
    <table class="table">
        <thead>
            <th scope="col">Name</th>
            <th scope="col">Contact</th>
        </thead>
        <tbody>
            {% for winning_fan in winning_fans %}
            <tr>
                <td>{{ winning_fan.username }}</td>
                <td>{{ winning_fan.prizename }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>{{ request.user.username }}, here are the others who entered:</h3>
    <table class="table">
        <thead>
            <th scope="col">Name</th>
        </thead>
        <tbody>
            {% for losing_fan_name in losing_fan_names %}
            <tr>
                <td>{{ losing_fan_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
